h1,
h2,
h3 {
    color: #0138C4;
}
main {
    padding-left: 40px;
    padding-right: 40px;
}

.h1_img img {
    width: 100px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.h1_img {
    text-align: center;
}


.m_1 {
    text-align: left;
}

.m1,
.m_1 {
    display: flex;
    flex-direction: column;
}



.m_2,
.m_3 {
    padding-top: 100px;
}

.h_2 {
     margin-bottom: 50px; 
}

.contact {
    margin-top: 70px;
}

.m3 {
    padding-bottom: 50px;
    margin: 35px;
}


/*
* Media queries
*/

@media (max-width: 800px) {

    .main {
            flex-direction: column-reverse;
            margin: 20px;
        }

    .h_2 {
        margin-top: 80px;
    }

    .m_2,
    .m_3 {
    padding-top: 10px;
    }

    .m_1,
    .m_2,
    .m_3 {
     margin: 20px;
     }   
     
     .m1,
     .m2,
     .m3 {
        margin: 20;
     }
}



