h1,
h2,
h3 {
    color: #0152C4;
}

.m_3 {
    text-align: left;
    flex: 2;
}

.m_1,
.m_2  {
    margin-top: 70px;
}

.contact {
    padding-top: 30px;;
}

.h_2 {
     margin-top: 40px;
     margin-left: 30px;   
}

.m_3 {
    padding-bottom: 50px;
    margin: 35px;

}

@media (max-width: 800px) {

    .h_2 {
        margin-top: 80px;
    }

    .intern {
        padding-bottom: 50px;
    }

    .m_1,
    .m_2,
    .m_3,
    .m_4 {
     margin-top: 20px;
     }       
}



