h1 {
   color: #000;
}

h2 {
    color: #000;
    margin-left: 30px;
}

.main5 {
    padding-bottom: 50px;
}

.m_3 img {
    padding-top: 100px;
}


@media (max-width: 800px) {
    .main2,
    .main4 {
        flex-direction: column-reverse;
    }

    .m_3 img {
        padding-top: 0px;
    }
}