h1 {
    color: #C950A1;
}

h2 {
 color: #F2B705;
}

.news1,
.news,
.news3,
.news4,
.news5 {
    margin:50px;
}

.main5 {
    padding-bottom: 50px;
}

.m_3 img {
    padding-top: 100px;
}

.m1 h3 {
    color: #C950A1;
}

.m2 h3 {
    color: #F2B705;
}

.m3 h3 {
    color: #0152C4;
}

.m4 h3 {
    color: #A450C9;
}

.m5 h3 {
    color: #85A768;
}

@media (max-width: 800px) {
    .main2,
    .main4 {
        flex-direction: column-reverse;
    }

    .m_3 img {
        padding-top: 0px;
    }

}