h1,
h2 {
    color: #F2B705
}

.btn2 {
    background-color: #A450C9;
}

.m_1,
.m_2,
.m_3,
.m_4 {
    margin: 40px;
    margin-top: 100px;
}

.m4_1 {
    padding-top: 40px;
}

.main4 {
    padding-bottom:50px;
}

@media (max-width: 800px) {
    
    .m_1,
    .m_2,
    .m_3,
    .m_4 {
        margin: 0px;
        margin-top: 20px;
    }
}