h1,
h2,
h3 {
   color: #1E5B18;
}


.m_2,
.m_3,
.m_4 {
    margin: 40px;
}

.m1,
.m_1 {
    flex: 2;
}

.m_1 {
    text-align: left;
    margin: 35px;
    
}


@media (max-width: 800px) {
    
    .main2 {
        flex-direction: column-reverse;
    }


        .m_2 img,
        .m_3 img,
        .m_4 img {
            margin-top: 20px;
            margin-bottom: 40px;
        }

        .m2 {
            margin-bottom: 40px;
        }
    
        .main1,
        .main2,
        .main3,
        .main4 {
          margin: 10px;
        }

        .m_2,
        .m_3,
        .m_4 {
             margin: 0px;
        }

        .m1 {
            margin-bottom: 40px;
        }

        .h1_img img {
            margin-bottom: 40px;
        }

        .main4 {
            margin-bottom: 50px;
        }

}