@font-face {
    font-family: "Merriweather";
    src: url(../css/fonts/Merriweather-Black.ttf) format("truetype");
}

@font-face {
    font-family: "Lato Black";
    src: url(../css/fonts/Lato-Black.ttf) format("truetype");
}

@font-face {
    font-family: "Lato Bold";
    src: url("../css/fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    src: url("../css/fonts/Lato-Regular.ttf") format("truetype");
}


h1 {
    font-family: 'Merriweather', serif;
    font-size: 2rem;
}

h2 {
    font-family: "Lato Black", sans-serif;
    font-size: 1.5rem;
}

h3 {
    font-family: "Lato Bold", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

p {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.mobile_menu img {
    width: 50px;
    margin: 20px;
}







/*
* Media queries
*/
@media (min-width: 800px) {
    .mobile_menu {
            display:none;
        }


}

@media (max-width: 800px) {
    .deteskop_nav {
        display: none;
    }

    }
  
    

















